:root
{
	--lightbackground:#DEE4E7;
	--darkbackground:#37474F;
	--buttoncolor:white;
	--textcolor:gray;
	background-color: var(--lightbackground);
	
}

*
{
	box-sizing: border-box;
	/*color: var(--textcolor);*/
}

.button
{
	background-color:var(--buttoncolor);
}

footer
{
	z-index: 100;
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-style: italic;
	color:var(--darkbackground);
}
footer > a
{
	text-decoration: none;
	color: var(--darkbackground);
}

.image
{
	display: none;
}


/*Navbar*/
.menu
{


	display: grid;
	grid-template-columns: 4fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 2rem;
}


/*Underlined list*/
.items
{
 
  padding: 0 0;
  margin: 0 0;
  padding: 0.5rem;

}


/*List items*/
.item
{
	display: inline;
	list-style: none;
	background-color: white;
	text-align: center;
	margin-right: 0.25rem;
}

.item > a
{
	text-decoration: none;
	color: var(--darkbackground);
	cursor: pointer;
}

/*Login button*/
.login,.item
{
 
  transition: all 0.5s ease;
  border-radius: 20px 20px 20px 20px;
  padding: 0.5rem;
  border:none;
  box-shadow: 5px 5px 10px black;

}

.login
{
	max-width: 150px;
	box-shadow: 5px 5px 10px black;
}


/*Hovering effects*/
.login:hover,.item:hover
{
	background-color: pink;
	transform: scale(0.97);
	color: white;
	cursor: pointer;
}

.submenu
{
	display: none;
	/*display: none;*/
	position: absolute;
	top: 6%;
	left: 0%;
	list-style-type: none;

	/*display: flex;
	flex-flow: column;*/
}

.submenu-item
{
	margin-top: 0.35rem;
	color: black;
	border:none;
	box-shadow: 5px 5px 10px black;
	padding: 0.25rem 1rem;
	border-radius: 10px 10px 10px 10px;
    transition: all 0.5s ease;
    background: white;
  
}

.submenu-item:hover
{
	color: white;
	background: pink;
	transform: translate(10%,0) ;
}

.i1:hover > .submenu
{
 display: block;
}

.i1
{
	transition: all 0.5s ease;
}
/*@media all and (max-width:800px)
{


}
*/
@media all and (max-width:500px)
{

.menu
{


	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: 0.5fr;
	grid-gap: 1rem;
}


.image
{
	display: inline-block;
	width: 40px;
}

.image img
{

width: 100%;
}

.items
{
    display: block;
    position: absolute;
	top:10%;   
	left:-100%;
	transition: all 0.75s ease;
	 display: grid;
     grid-template-columns: 1fr;
     grid-gap: 0.75rem;
}

.submenu
{
    position: absolute;
	top: 0%;
	left: 60%;
     
}

.submenu-item
{
	border-radius: 60%;
	padding: 0.25rem 1rem;
}
.mobile
{
	left:50%;
	transform: translate(-50%,0);
	
}

}
